*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contact_home_con{
    /* height: 100vh; */
    /* background-color: brown; */
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
.contact_one{
    height: 160px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image:url(./contact_img.jpg) ;
    color: white;
    margin-top: 78px;
    background: linear-gradient(94.74deg, #0045FF 0%, #BD29F2 100%);
}
.contact_one h1{
    font-family: "Outfit";
font-size: 48px;
font-weight: 600;
line-height: 52.8px;
letter-spacing: 0.10000000149011612px;


}
.contact_one a{
    font-family: "Roboto";
font-size: 16px;
font-weight: 600;
line-height: 28.8px;


}
.contact_two{
    /* background-color: rgb(30, 210, 201); */
    width:80%;
    padding: 20px 0px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.contact_two h6::after{
    content: "⸻";
    font-weight: bold;
    color: #0045BC;

}

.contact_two h6::before{
    content: "⸻";
    font-weight: bold;
    color: #0045BC;

}
.contact_two h6{
    color: #0045FF ;

    font-family: "Roboto";
font-size: 12px;
font-weight: 500;
line-height: 12px;
letter-spacing: 2px;


}
.contact_two h2{
    font-family: "Inter";
font-size: 42px;
font-weight: 600;
line-height: 62.4px;
letter-spacing: 0.10000000149011612px;


}
.contact_two p{
    font-size: 14px;

    font-family: "Montserrat";
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.10000000149011612px;
color: #616669;
width: 60%;


}
.form_con{
    display: flex;
    /* background-color: darkgreen; */
    width: 80%;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0px;
    

}
.form_one{
    width: 50%;
    /* background-color: rgb(138, 255, 127); */
    background-color: white;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    /* padding-left: 10px; */
    padding:10px 10px ;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px #0045FF1F;
}
.form_one h1{
    font-family:"Barlow";
font-size: 40px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0.10000000149011612px;


}

.form_input{
    /* background-color: blueviolet; */
     
    width: 90%;
   
    
}


.form_input input{
    height: 40px;
    padding: 10px;
    margin: 10px;
    width: 45%;
   
}
.command{
    width: 100%;
    height: 80%;
}
.form_input input::placeholder{
    /* color: brown; */
    /* background-color: gray; */
    /* height: 100%; */
    
    
}
.form_one h6{
    font-size: 15px;
    font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.10000000149011612px;

color: #616669;

}
.form_one button{
    padding: 10px 20px;
    background: linear-gradient(102.99deg, #0045FF 0%, #BD29F2 100%);
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bolder;

}
.checkbox{
    padding: 10px 0px;
}
.checkbox span{
    font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.10000000149011612px;


}

.form_two_call{
    background-color: white;
    /* height: 200px;
    width: 200px; */
    display: flex;
    padding: 10px 30px 20px 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 0px #0045FF1F;

}
.con_icon{
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background: linear-gradient(135deg, #0045FF 0%, #BD29F2 100%);
    padding: 10px;
    color: white;

}
.form_two_call_text{
    text-align: left;
    padding-left: 10px;
}
.form_two_call_text :nth-child(1){
    font-family: "Barlow";
font-size: 20px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.10000000149011612px;


}
.form_two_call_text :nth-child(2){
    font-family: "Roboto";
font-size: 16px;
font-weight: 500;
line-height: 28.8px;
letter-spacing: 0.10000000149011612px;
color:#616669;

}
textarea.command{
    width: 440px;
    height: 125px;
    text-align: start;
    margin-left: 10px;
    padding-left: 10px;
}

@media screen and (min-width:300px) and (max-width:1000px) {
    .form_one{
        width: 100%;

    }
    .contact_two{
        width: 75%;
    }
    .form_two_call {
        padding: 2px;

    }
    .form_two_call_text h6{
        font-size: 13px;
    }
    .form_input input {
       
        width: 100%;
    }
    .contact_two h2 {
        font-size: 29px;

    }
    .contact_two p {
        width: 100%;
    }
    textarea.command {
        width: 247px;

    }

    .checkbox span {
       
        font-size: 13px;

    }

    .form_con {
       
        width: 92%;

    }

    .form_two_call_text :nth-child(2) {
       
        font-size: 14px;


    }


}