*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}



.feedback_sub_con{
    background-image: url(./review.jpg);
    
    background: linear-gradient(180deg, #0045FF 0%, #BD29F2 100%);
    padding: 30px 0px;
    /* background-image: url(./review.jpg);
    background: linear-gradient(180deg, #0045FF 0%, #BD29F2 100%);
    background: linear-gradient(180deg, rgba(0, 69, 255, 0.5) 0%, rgba(189, 41, 242, 0.5) 100%);
    background: linear-gradient(180deg, rgba(0, 69, 255, 0.5) 0%, rgba(189, 41, 242, 0.5) 100%); */


    /* background-color: rgba(#0045FF, #BD29F2, rgb(30, 255, 0)); */

    /* gap:20px; */
    
    
    
}

.feedback_box{
    background-color: white;
    width: 25%;
    /* height: 90%; */
    padding: 20px;
    padding-bottom: 25px;
    border-radius: 10px;
}
.feedback_sub_con h4::after{
    content: " ⸻ ";
    font-weight: bold;
    color: #fcfdfd;

}

.feedback_sub_con h4::before{
    content: " ⸻ ";
    font-weight: bold;
    color: #fbfcfd;

}
.feedback_sub_con h4 {
    color: white;

    font-family: "Roboto";
font-size: 12px;
font-weight: 700;
line-height: 12px;
letter-spacing: 2px;


}

.feedback_sub_con h2 {
    color: white;

    font-family: "Outfit";
font-size: 45px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.10000000149011612px;



}
.feedback_icon{
    font-size: 50px;
    color:#0045BC;
}
.feedback_icon h5{
   
    color: #616669;


    font-family: "Roboto";
font-size: 18px;
font-style: italic;
font-weight: 500;
line-height: 32.4px;
letter-spacing: 0.10000000149011612px;


}
.feedback_img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.feedback_img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.feedback_img_name{
    padding-left: 20px;
    text-align: left;
}

.feedback_img_name h6:nth-child(2){
    
    color: #0045FF;


    font-family: "Roboto";
font-size: 16px;
font-weight: 400;


}
.feedback_img_name h6:nth-child(1){
    /* padding-left: 5px; */
    color: black;

    font-family: "Outfit";
font-size: 20px;
font-weight: 600;



    
}
.feedback_slider_sub_con{
    /* background-color: rgb(204, 248, 9); */
   margin:0px 40px;
   padding: 20px;
}
.feedback_box{
    /* margin: 0px 40px; */
    /* padding: 20px; */
    border: 1px solid #E7E7E7

}
.slick-slide > div{
    margin:0px 20px;
    /* background-color: rgb(250, 2, 188); */
}
.feedback_slider_con2{
    display: none;
}
.feedback_box h5{
    font-family:"Roboto";
font-size: 17px;
font-style: italic;
font-weight: 500;
line-height: 32.4px;
letter-spacing: 0.10000000149011612px;
text-align: center;
color: #616669;

}

@media screen and (min-width:300px) and (max-width:1000px) {
    .slick-slide > div{
       margin: 0px;
        width: 100%;
        /* background-color: rgb(250, 2, 188); */
        display: flex;
        flex-direction: column;
        /* display: none; */
    }
    .slick-slide{
        width: 100%;
    }

    .feedback_slider_sub_con{
        /* background-color: rgb(204, 248, 9); */
       margin:0px 10px;
       padding: 10px;
    }

    .feedback_box{
        width: 100%;


    }
    .feedback_slider_con2{
        display: block;

    } 
    .feedback_slider_sub_con .feedback_box{
        margin: 20px 0px;
       
        
    }
    .feedback_slider_con .feedback_slider_sub_con:nth-child(1){
        display: none;

    }

    .feedback_sub_con h2 {
        font-size: 30px;

    }
    

   
    

}
/* news */

.news_sub_con{
    /* background-color: darkorange; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0px;  
}

.news_box_con{
   
    /* background-color: cyan; */
    padding: 20px 0px;
}
.news_word{
    /* background-color: cadetblue; */
    width: 70%;
}

.news_box_con{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.news_box{
    /* background-color:white; */
    border-radius: 10px;
    width: 20%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   
}
.news_img{
    position: relative;
    border-radius: 10px;
}

.news_img  img{
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.news_img button{
    position:absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    border-radius: 10px;
    background: linear-gradient(90deg, #0045FF 0%, #BD29F2 100%);
    font-size: 10px;
    padding: 3px 6px;
    border: none;
    color: white;

    box-shadow: 0px 10px 20px 0px #00000033;

    font-family: "Roboto";
font-size: 12px;
font-weight: 500;
line-height: 12px;
letter-spacing: 2px;



}
.news_box{
    text-align: left;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 7px 14px 0px #0045FF1A;

}



.news_box_con h3{
    padding: 5px 20px;
    padding-top: 20px;
    font-size: 20px;

    font-family: "Poppins";
font-size: 22px;
font-weight: 600;
line-height: 36.4px;
letter-spacing: 0.10000000149011612px;
color: #202030;

}

.news_box_con h6{
    
    padding: 0px 20px;
    padding-bottom: 30px;

    font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.10000000149011612px;
color: #616669;

}

.news_word h6{
    color: #0045BC;

    font-family: "Roboto";
font-size: 12px;
font-weight: 500;
line-height: 12px;
letter-spacing: 2px;    
}

.news_word h6::after{
    content: " ⸻ ";
    font-weight: bold;
    color: #0045BC;

}

.news_word h6::before{
    content: " ⸻ ";
    font-weight: bold;
    color:#0045BC;

}
.news_word h2{
    font-family: "Outfit";
font-size: 45px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.10000000149011612px;


}
.news_word span{
    background: linear-gradient(91.21deg, #3F60D5 0%, #975DE7 52%, #89499C 100%);
        color: transparent;
        background-clip: text;

        font-family: "Outfit";
font-size: 45px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0.10000000149011612px;

}

.news_word h5{
    font-family: "Montserrat";
font-size: 20px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: 0.10000000149011612px;
color: #616669;

}

@media screen and (min-width:300px) and (max-width:1000px) {

    .news_word{
        /* background-color: cadetblue; */
        width: 90%;
    }

    .news_box_con{
        
        gap: 0px;
        
    }
    .news_box{
        width: 100%;
        margin-bottom: 40px;

    }
    .news_word span{
        font-size: 33px;
    }

}
/* .news33{
    width: 68%;
    
}
.news333{
    width: 100%;
} */

h3.new_3{
    font-size: 18px;
}