*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer_con{
    /* background-color: darkgoldenrod; */
    background-color: white;
    padding-top: 40px;
}
.footer_sub_con{
    position: relative;
}
.contact_con{
    /* background-color: darkgreen; */
    background: linear-gradient(90deg, #0045FF 0%, #BD29F2 100%);
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    top:-30px;
    left: 9%;
    padding: 5px 20px;
    border-radius:10px;
}
.contact_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: brown;  */
    /* width: 25%; */
    padding: 5px;
    /* position: absolute; */
    padding-left: 15px;
   
    

}
.contact_icon{
    background-color: rgb(250, 253, 253);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 14px;
    color:blue;
}
.contact_name{
    text-align: left;
    padding: 0px 10px;
    color: white;
    padding-top: 5px;
   
}
.contact_name :nth-child(1){
    font-family: "Montserrat";
font-size: 14px;
font-weight: 400;
/* line-height: 19.6px; */
letter-spacing: 1px;
color: #FFFFFF;
margin-bottom: 0px;

}
.contact_name :nth-child(2){
    font-family: "Outfit";
font-size: 18px;
font-weight: 600;
/* line-height: 28.8px; */
letter-spacing: 0.10000000149011612px;
color: #FFFFFF;
margin-bottom: 0px;


}
.contact_button button{
    background-color: rgb(248, 250, 250);
    padding: 10px 15px;
    border-radius: 10px;
    color: #2334DE;
    border: none;
    font-weight: bold;
    letter-spacing:0.1em;
    margin-left: 20px;

    font-family: "Outfit";
font-size: 16px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0.10000000149011612px;


}

.footer_hole_sub_con{
    /* background-color: cornflowerblue; */
    background: rgba(34, 44, 77, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 75px;
    flex-wrap: wrap;
    color: white;
    
}

.footer_p{
    padding-top: 40px;
    background: rgba(34, 44, 77, 1);
    color: white;

    font-family: "Nunito Sans";
font-size: 15px;
font-weight: 400;
line-height: 28.13px;
color: #AEAACB;


}
.footer_box{
   padding: 10px;
}
.footer_box h3{
    margin-bottom: 16px;

    font-family: "Montserrat";
font-size: 30px;
font-weight: 600;
line-height: 20px;


}
.footer_box p{
    margin-bottom: 1px;

    font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 30px;
color: #AEAACB;

}

@media screen and (min-width:300px) and (max-width:1000px) {
    .footer_con{

        padding-top: 250px;
    }
    .footer_hole_sub_con{
        
        padding: 20px;
        padding-top: 150px;




    }
    .contact_con{
       
        flex-wrap: wrap;
        top:-17%;
        left: 3%;
        padding: 10px;
        /* display: none; */
        text-align: left;
        
       
    }
   .email_h6{
    font-size: 13px;
   }
   .contact_box{
    padding-bottom: 30px;
    

   }
   .contact_name{
    font-size: 13px;
   }
   .contact_con{
    /* background-color: darkgreen; */
    background: linear-gradient(90deg, #0045FF 0%, #BD29F2 100%);
    width: 95%;
    flex-wrap: wrap;
   }

   .contact_name :nth-child(2) {
    font-size: 13px;

   }

   .contact_box {
    justify-content: left;
    /* width: 100%; */

   }
   .footer_box{
    width: 100%;
    text-align: left;
   }

   .footer_hole_sub_con{
    gap: 25px;
   }

   



}