*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* text-decoration: none; */
   
}
a{
    text-decoration: none;
    background: linear-gradient(92.97deg, #3D60D6 4.35%, #5B57BF 52.98%, #88499C 99.75%);
    color: transparent;
    background-clip: text;
}
a:hover{
    background: linear-gradient(92.97deg, #3D60D6 4.35%, #5B57BF 52.98%, #88499C 99.75%);
    color: transparent;
    background-clip: text;

}
.home_container{
    /* height: 100vh; */
    width: 100%;
    background: linear-gradient(180deg, #0045FF 0%, #7222A8 100%);
    /* overflow-x: hidden; */

}
.three_word{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    gap:5px;
}
.contact h6{
    padding-top: 4px;
    color: white;
}
.nav_top{
    /* background: linear-gradient(180deg, #0045FF 0%, #7222A8 100%); */

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;

}
.nav_top_icon{
    color: white;
}
.nav_icon{
    color: #0045BC;
    background-color: rgb(250, 252, 252);
    font-size: 10px;
    /* border:2px solid rgb(247, 6, 6); */
    height: 30px;
    padding: 5px 0px;
    width: 40px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    
}
.nav_icon:hover{
    background-image: linear-gradient(#0045FF , #BD29F2 );
    color:white

}
.nav_top_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.nav_icon{
   
}

/* second nav */

.section{
    /* background-color: brown; */
    gap: 60px;
    font-weight: bold;
   
    
}
.nav_button{
    padding: 8px 25px;
    border-radius: 5px;
    font-weight: bold;
    color:white ;
    /* border: 1px solid rgb(3, 3, 3); */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    background:linear-gradient(#0045FF , #BD29F2 ) ;
    border: none;

    font-family: "Quicksand";

font-weight: 700;

box-shadow: 0px 10px 15px 0px #3800BD33;



   
}
.nav_button:hover{
    background:linear-gradient(#fbfbfc , #fffeff ) ;
    color:#0045BC;
    border: 1px solid #0045BC;
    border: none;
}



/* a animation */

 .nav_a{
    
    /* text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(12, 12, 12); */
    text-decoration: none;
    padding: 5px 0px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    /* color: rgb(8, 8, 8);  */
    /* ani */
    position: relative;
    /* gap: 60px; */
    transition: 0.3s linear;
    /* color: rgba(5, 7, 72, 1); */

    font-family: "Quicksand";

font-weight: 700;
 

}

 .nav_a::after{
    content: "";
    position:absolute ;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    /* background-color: #FFC324; */
    background: linear-gradient(90deg, #3E60D5 0%, #7051AF 54.51%, #88499C 100%);

    transition: 0.5s linear;

}
.nav_a:hover:after{
    width: 100%;
    /* transform: scale(1.1,1.1); */
}

.nav_a:hover{
    color: #D80032;
    /* background-color: rgb(4, 0, 255);     */
    transform: scale(1.1,1.1);
}

.home_content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    /* background-color: #FFC324; */
    height: 99vh;
}
.home_content_two img{
    height: 100%;
    padding-top: 40PX;
     
}
.home_content_two{
    height: 80%;
}
.home_content_one h6::after{
    content: "⸻";
    font-weight: bold;
    color: white;

}
.home_content_one h6::before{
    content: "⸻";
    font-weight: bold;
    color: white;

}
.home_content_one h6{
    color: white;
    font-family: "Roboto";
font-size: 24px;
font-weight: 400;
line-height: 24px;
letter-spacing: 1px;


}
.home_content_one h1{
    color: white;

}
.home_content_one h4{
    color: white;
    font-family: "Jost";
font-size: 35px;
font-weight: 600;
line-height: 50px;
letter-spacing: -0.75px;


    
}

.home_content_one img{
    height: 50px;
    width: 50px;
}
.home_content_one h1{
    font-size: 8rem;
}

.home_content_one{
    /* background-color: #FFC324; */
    text-align: left;
    width: 53%;

}
/* .nav_sub_con {
    z-index: 9999 !important;
    background-color:greenyellow !important;
} */
.nav_sub_con img{
    height: 50px;
    width: 120px;
    /* border: 1px solid black; */

}
.nav_sub_con{
    position: fixed;
    width: 100%;
    z-index: 99; 
    border-bottom: 1px solid #FFFFFF1A;
    /* box-shadow: 0px 4px 6px 0px #0C002E14; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.08);


     
     /* border-radius: 30px; */
}


@media screen and (min-width:300px) and (max-width:900px) {
    .nav_top{
        display:none;
        
    }
    .home_content_two img{
        display: none;
    }
    .home_content_one{
        width: 90%;
        text-align: center;
    }
    .home_content_one h1{
        font-size: 2rem;
        padding: 20px 0px;
        text-align: center;
    }
    .home_content_one h4{
        font-size: 0.88rem;
        /* background-color: #D80032; */
        
    }
    .home_content_one h6{
        font-size: 0.70rem;
        /* background-color: #D80032; */
        
    }
    .nav_sub_con {
        background: rgba(33, 44, 76, 1) !important;
 
        color: white !important;
        overflow-x: hidden;

    }
    .navbar-toggler {
        background-color:white !important ;

    }
    .nav_a{
        color:white;
        padding-top: 30px;
    }
    .nav_button{
        margin-top: 20px;
    }
    

}

@media screen and (min-width:900px) and (max-width:1200px) {
    .home_content_one h1{
        font-size: 5rem;

    }
    .home_content_two img{
        height: 80%;
         
    }
    

}

.home_content_one span{
    text-decoration: underline;
}

.arrow{
    font-size: 50px;
    text-align: right;
    position: fixed;
    z-index: 99;
    top: 550px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fbfafd;
    left: 1250px;
    padding: 5px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
    border: 1px solid black;

}
/* .arrow_div{
    font-size: 50px;
    text-align: right;
    position: fixed;
    z-index: 99;
    top: 400px;
    height: 50px;
    width: 50px;
    background-color: #D80032;
    left: 1300px;
} */

.nav_aa a{
    background: linear-gradient(92.97deg, #3D60D6 4.35%, #5B57BF 52.98%, #88499C 99.75%);
    color: transparent;
    background-clip: text;
    border-bottom: 2px solid blue;
}
.nav_aa a:hover{
   border: none;
    
}